.guided-answer__bookmark {
    width: 100%;

    .guided-answer__tree__ul {
        width: 100%;

        .guided-answer__tree__title {
            display: flex;
            justify-content: space-between;
        }
    }

    &__button {
        flex: 0 0 25px;
        height: 25px;
        opacity: 0;

        svg {
            width: 16px;
            height: 16px;
            margin-top: 3px;
        }

        &:hover {
            background: var(--vscode-menubar-selectionBackground);
            outline: 1px solid var(--vscode-contrastActiveBorder);
            border-radius: 3px;
        }

        &:focus-visible {
            outline: 1px solid var(--vscode-focusBorder, #007fd4);
            opacity: 1;
        }
    }

    &:focus-visible &__button,
    &:hover &__button {
        opacity: 1;
    }
}
