.guided-answer__bookmark {
    width: 100%;
    margin-bottom: 15px;

    &__title {
        width: 100%;
        display: flex;
        justify-content: space-between;

        >a {
            display: block;
            width: fit-content;
            margin-bottom: 5px;
            color: var(--vscode-foreground);
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            text-decoration-line: underline;
            cursor: pointer;

            &:hover {
                text-decoration-line: none;
            }

            &:focus-visible {
                outline: 1px solid var(--vscode-focusBorder, #007fd4);

                ~button {
                    opacity: 1;
                }
            }
        }

        >button {
            padding: 5px;
            opacity: 0;

            svg {
                width: 16px;
                height: 16px;
            }

            &:hover {
                background: var(--vscode-menubar-selectionBackground);
                outline: 1px solid var(--vscode-contrastActiveBorder);
                border-radius: 3px;
            }

            &:focus-visible {
                outline: 1px solid var(--vscode-focusBorder, #007fd4);
                opacity: 1;
            }
        }
    }

    &:hover>&__title>button {
        opacity: 1;
    }
}
