.test {
   background: 'var(--vscode-editorWidget-background)';
    boxShadow: '0px 4px 10px rgba(0, 0, 0, 0.3)';
    borderColor: 'var(--vscode-editorWidget-border)',
    vPadding: 20,
    vPaddingHalf: 10,
    hPadding: 45,
    title: color: 'var(--vscode-panelTitle-activeForeground)',
}