.guided-answer {
    &__header {
        display: flex;
        position: fixed;
        top: 0;
        z-index: 20;
        width: 100%;
        background-color: var(--vscode-editor-background);
        &__sub {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100px;
        }
        &__title {
            font-weight: 600;
            margin: 0;
            color: var(--vscode-settings-headerForeground);
            line-height: 29px;
        }
        &__subtitle {
            color: var(--vscode-editorCodeLens-foreground, #999);
            font-size: 2em;
        }
        &__navButtons {
            height: 25px;
            margin-top: 30px;
            color: var(--vscode-textLink-foreground);
            &__content {
                vertical-align: middle;
                display: inline-block;
                cursor: pointer;
            }
        }
        &__allAnswersButton {
            width: 33%;
        }
        &__back-restart-buttons {
            display: flex;
            width: 66%;
            justify-content: space-between;
            max-width: 620px;
            padding-right: 20px;
        }
        &__logoAndTitle {
            display: flex;
            align-items: center;
            width: 33%;
            min-width: 250px;
        }
        &__searchField {
            display: flex;
            align-items: start;
            flex-direction: column;
            width: 66%;
        }
    }
}

@media only screen and (max-width: 625px) {
    .guided-answer {
        &__header {
            &__logoAndTitle {
                width: 50%;
            }

            &__sub {
                align-items: start;
                flex-direction: column;
            }

            &__searchField {
                margin-top: 20px;
                align-items: start;
            }
        }
    }
}
