.guided-answer {
    &__header {
        display: flex;
        overflow: hidden;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%;
        z-index: 10;
        background-color: var(--vscode-editor-background);
        &__sub {
            display: flex;
            align-items: center;
        }
        &__title {
            font-weight: 600;
        }
        &__subtitle {
            color: var(--vscode-editorCodeLens-foreground, #999);
            font-size: 2em;
        }
        &__navButtons {
            height: 25px;
            margin-top: 30px;
            color: var(--vscode-textLink-foreground);
            &__content {
                vertical-align: middle;
                display: inline-block;
                cursor: pointer;
            }
        }
        &__allAnswersButton {
            width: 380px;
        }
        &__back-restart-buttons {
            display: flex;
            width: 600px;
            justify-content: space-between;
        }
    }
}

#sap-logo {
    width: 100px;
}
