.guided-answer {
    &__header {
        display: flex;
        width: 100%;
        z-index: 10;
        background-color: var(--vscode-editor-background);
        position: sticky;
        top: 0;
        padding-bottom: 20px;
        &__sub {
            display: flex;
            align-items: center;
            width: 100%;
        }
        &__title {
            font-weight: 600;
            margin: 0;
            color: var(--vscode-settings-headerForeground);
            line-height: 29px;
        }
        &__subtitle {
            color: var(--vscode-editorCodeLens-foreground, #999);
            font-size: 2em;
        }
        &__navButtons {
            height: 25px;
            margin-top: 30px;
            color: var(--vscode-foreground);
            padding: 0 5px 0px 5px;
            text-align: start;
            cursor: pointer;
            background: none;
            border: 0;
            &__content {
                vertical-align: middle;
                display: inline-block;
                &__text {
                    margin-left: 3px;
                }
            }
            display: flex;
            align-items: center;
            svg {
                width: 16px;
                height: 16px;
            }
        }
        &__navButtons:hover {
            background: var(--vscode-menubar-selectionBackground);
            outline: 1px solid var(--vscode-contrastActiveBorder);
            border-radius: 3px;
            > span {
                text-decoration: none;
            }
        }
        &__navButtons:focus-visible {
            outline: 1px solid var(--vscode-focusBorder, #007fd4);
        }

        &__allAnswersButton {
            width: 25%;
            margin-right: 80px;
        }
        &__back-restart-buttons {
            display: flex;
            justify-content: space-between;
            width: 75%;
            max-width: 620px;
        }
        &__restart-feedback-buttons {
            display: flex;
        }
        &__divider {
            border-left: 1px solid var(--vscode-editorWidget-border);
            height: 16px;
            margin-top: 35px;
            margin-left: 10px;
            margin-right: 10px;
        }
        &__logoAndTitle {
            display: flex;
            align-items: center;
            margin-top: 30px;
            min-width: 280px;
        }
        &__searchField {
            display: flex;
            align-items: start;
            flex-direction: row;
            margin-top: 30px;
            width: 66%;
        }
    }
}

.home-icon {
    width: 62px;
}

@media only screen and (max-width: 625px) {
    .guided-answer {
        &__header {
            &__logoAndTitle {
                width: 50%;
            }

            &__sub {
                align-items: start;
                flex-direction: column;
            }

            &__searchField {
                margin-top: 20px;
                align-items: start;
            }
            &__navButtons {
                text-align: center;
                justify-content: center;
            }
            &__navButtons__content {
                margin-left: 0;
            }
            &__navButtons__content__text {
                display: none;
            }
            &__back-restart-buttons {
                justify-content: space-between;
                width: 100%;
            }
            &__allAnswersButton {
                margin-right: 48px;
                width: 28px;
                margin-left: 6px;
            }
        }
    }
    .home-icon {
        width: 28px;
        padding: 0 3px 2px 3px;
        border-radius: 3px;
        color: var(--vscode-menu-foreground, #cccccc);
    }
    .home-icon:hover {
        background: var(--vscode-menubar-selectionBackground);
    }
}
