* {
    box-sizing: border-box;
    outline: none;
}

h1 span {
    font-weight: 600;
}

.container {
    width: 100%;
    margin-top: 107px;
    position: relative;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

.vertical-line {
    display: block;
    left: 9px;
    width: 1px;
    position: absolute;
    top: 47px;
    margin-left: -1px;
    height: 55px;
    background: lightgray;
    z-index: 1;
}

.timeline-block {
    width: 100%;
    margin: 0px 0px 0px 10px;
    display: flex;
    justify-content: space-between;
    clear: both;
    position: relative;
    float: none;
    height: 80px;
}

.marker {
    position: absolute;
    top: 20px;
    font-size: 20px;
}

.timeline-content {
    width: 100%;
    margin: 10px 10px 10px 35px;
    border: 1px solid lightgray;
    color: #666;
}

.timeline-content-arrow {
    position: absolute;
    top: 16px;
    left: -7px;
    position: relative;
    width: 0.75rem;
    height: 0.75rem;
    background-color: var(--vscode-editor-background);
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    border-bottom: 0.0625rem solid #d1d1d1;
    border-left: 0.0625rem solid #d1d1d1;
    transform: translateX(0px) translateY(0px) rotate(45deg);
    -moz-transform: translateX(0px) translateY(0px) rotate(45deg);
    z-index: 1;
}

.timeline__path {
    display: inline-block;
    color: var(--vscode-textLink-foreground);
    cursor: pointer;
    padding: 1px 7px 2px 18px;
}
