.feedback-subcontainer {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 15px;
}

.feedback-container {
    h3 {
        color: var(--vscode-settings-headerForeground);
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 0px;
    }

    margin-bottom: 15px;
}

.feedback-box {
    height: 101px;
    width: 220px;
    border: 2px solid var(--vscode-terminal-ansiGreen);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.solved-hover:hover {
    background-color: var(--vscode-terminal-ansiGreen);
    cursor: pointer;
    > h3 {
        color: var(--vscode-editor-background);
    }
    svg > path,
    svg > rect {
        fill: var(--vscode-editor-background);
    }
}

.not-solved-hover:hover {
    background-color: var(--vscode-terminal-ansiRed);
    cursor: pointer;
    > h3 {
        color: var(--vscode-editor-background);
    }
    svg > path,
    svg > rect {
        fill: var(--vscode-editor-background);
    }
}
