.solved-message-dialog {
    .ms-Dialog-main {
        background-color: var(--vscode-editorWidget-background);
    }
    .ms-Dialog-title {
        color: var(--vscode-settings-headerForeground);
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }
    .ms-Dialog-subText {
        color: var(--vscode-settings-headerForeground);
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
    }
    .actionsRight-122 {
        text-align: center;
    }

    .root-130 {
        background-color: var(--vscode-button-secondaryBackground);
        border-color: var(--vscode-button-secondaryBackground);
    }

    button:focus-visible {
        outline: 1px solid var(--vscode-focusBorder, #007fd4);
    }

    .label-126 {
        color: var(--vscode-button-foreground);
        font-weight: 400;
    }

    button:focus-visible {
        outline: 1px solid var(--vscode-focusBorder, #007fd4);
    }
}
