.guided-answer__node {
    & {
        display: flex;
        flex-direction: column;
    }

    &__body {
        color: var(--vscode-foreground);
        display: flex;
        justify-content: space-between;
        gap: 80px;
    }

    &__sidebar {
        flex: 1 0 120px;
    }

    &__question {
        color: var(--vscode-settings-headerForeground);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
    }

    &__edge {
        background-color: var(--vscode-button-background);
        color: var(--vscode-button-foreground);
        cursor: pointer;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        height: auto;
        line-height: 18px;
        letter-spacing: 0em;
        margin: 10px 0;
        padding: 10px;
        text-align: center;
        outline-offset: -1px;
        border: 1px solid var(--vscode-contrastBorder);
        text-decoration: none;
    }

    &__edge:hover {
        background-color: var(--vscode-button-hoverBackground);
        outline: 1px solid var(--vscode-contrastActiveBorder);
    }

    &__edge:focus-visible {
        outline: 1px solid var(--vscode-focusBorder);
        outline-offset: 2px;
    }

    &__commands {
        position: sticky;
        top: 85px;
    }

    &__command {
        margin: 10px 0;
        background-color: var(--vscode-menu-background);
        border: 1px solid var(--vscode-editorWidget-border);
        border-radius: 3px;
        padding: 10px;

        &__header {
            text-align: left;
            display: flex;

            &__icon {
                padding-top: 2px;
                margin-right: 9px;
            }

            &__label {
                color: var(--vscode-foreground);
                font-size: 14px;
                font-weight: 700;
                line-height: 18px;
                display: inline-block;
            }
        }

        &__description {
            margin-top: 7px;
            position: relative;
            color: var(--vscode-foreground);
            font-size: 13px;
            font-weight: 400;
            line-height: 18px;
            height: 50%;
            text-align: start;
        }
    }

    &__command:hover {
        border: 1px solid var(--vscode-list-focusOutline);
        cursor: pointer;
    }
}

#middle {
    flex: 0 1 620px;

    .content > * {
        line-height: 18px;
    }

    .content > h1 {
        font-size: 20px;
        margin-top: 15px;
    }

    a:focus-visible {
        outline: 1px solid var(--vscode-focusBorder, #007fd4);
    }
}

@media only screen and (max-width: 740px) {
    .guided-answer__node__body {
        gap: 40px;
    }

    .guided-answer__node__sidebar {
        flex: 0 0 34px;
    }

    .guided-answer__node__command {
        &__header__label,
        &__description {
            display: none;
        }

        &__header__icon {
            margin-right: 0;
        }
    }
}

.body_container {
    overflow: auto;
    overflow-wrap: anywhere;
}

header {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

button:focus-visible {
    outline: 1px solid var(--vscode-focusBorder, #007fd4);
}

a:hover {
    outline: 1px solid var(--vscode-contrastActiveBorder);
    text-decoration: none;
}

#hr {
    width: 100%;
    border-bottom: 1px solid var(--vscode-editorWidget-border);
    padding-bottom: 10px;
}

.enhancement-link {
    color: var(--vscode-textLink-foreground);
    cursor: pointer;
    text-decoration: underline;
}

.enhancement-link:focus-visible {
    outline: 1px solid var(--vscode-focusBorder, #007fd4);
}
