.solved-message-dialog {
    .ms-Dialog-main {
        background-color: var(--vscode-editorWidget-background);
    }
    .ms-Dialog-title {
        color: var(--vscode-settings-headerForeground);
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        margin: 5px 0px 15px 0px;
    }
    .ms-Dialog-subText {
        color: var(--vscode-settings-headerForeground);
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 0;
        text-align: left;
        margin-top: 0;
    }
    .ms-Dialog-inner {
        padding: 0px 45px;
    }
    .button-container {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .default-button {
        background-color: var(--vscode-button-secondaryBackground);
        color: var(--vscode-button-foreground);
        border-color: var(--vscode-button-secondaryBackground);
        text-align: center;
    }

    .primary-button {
        color: var(--vscode-button-foreground);
        font-weight: 400;
        border-color: var(--vscode-button-background);
        background-color: var(--vscode-button-background);
        border-style: none;
    }

    button:focus-visible {
        outline: 1px solid var(--vscode-focusBorder, #007fd4);
        border-style: none;
    }
    .ms-Dialog-actions {
        margin: 25px 0px;
    }
    .ms-Dialog-actionsRight {
        justify-content: center;
    }

    .ms-Dialog-content {
        overflow: hidden;
        padding: 0px;
    }
}
