.guided-answer__last-visited {
    width: 100%;
    margin-bottom: 15px;

    >a {
        display: block;
        width: fit-content;
        margin-bottom: 5px;
        color: var(--vscode-foreground);
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        text-decoration-line: underline;
        cursor: pointer;

        &:hover {
            text-decoration-line: none;
        }

        &:focus-visible {
            outline: 1px solid var(--vscode-focusBorder, #007fd4);
        }
    }
}
