* {
    font-family: var(--vscode-font-family);
}
.error-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    &__objects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h2 {
        font-style: normal;
        font-weight: 200;
        font-size: 13px;
        line-height: 18px;
        margin: 20px 0px 20px 0px;
    }

    &__logo {
        margin-top: 20px;
    }
}
