.feedback-section-dialog {
    color: var(--vscode-editor-foreground);
    .ms-Dialog-main {
        background-color: var(--vscode-editorWidget-background);
        min-width: 380px;
        max-width: 380px;
    }
    .ms-Dialog-title {
        color: var(--vscode-settings-headerForeground);
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        padding: 25px;
    }
    .ms-Dialog-subText {
        color: var(--vscode-settings-headerForeground);
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 15px;
        text-align: left;
        margin-top: 5px;
        padding: 0;
    }

    .ms-Label {
        font-size: 13px;
    }

    .ms-Button-label {
        font-size: 13px;
    }

    label {
        color: var(--vscode-editor-foreground);
    }

    .button-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: -20px;
        margin-bottom: -15px;
    }

    button:focus-visible {
        outline: 1px solid var(--vscode-focusBorder, #007fd4);
        border-style: none;
    }

    h3 {
        font-size: 13px;
        font-weight: 700px;
        margin-top: 20px;
        margin-bottom: 3px;
    }
    .privacy-notice {
        display: flex;
        font-size: 11px;
        align-items: center;
        font-weight: 400;
        gap: 5px;
    }
    .info-icon {
        width: 14px;
        height: 14px;
    }
    .privacy-notice > p {
        margin-bottom: 0;
    }
    textarea {
        resize: none;
        background-color: var(--vscode-input-background);
        color: var(--vscode-editor-foreground);
    }

    .ms-TextField-wrapper > .ms-Label {
        font-family: var(--vscode-font-family);
        font-weight: 700;
        font-size: 14px;
        font-style: normal;
        line-height: 16px;
    }
}
//  for transition wip
.container :hover {
    opacity: 0.01;
}

.ms-Dialog-main :hover {
    opacity: 0.01;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 2s ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 2s ease-out;
}
